.bg-style-four::after {
  background: #000 !important; }
.bg-style-four .header-bg::after {
  background: #e1924a; }
.bg-style-four .header-bg::before {
  background: #e1924a; }

.contact-form input {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  padding: 0 10px; }
  .contact-form input[type='submit'] {
    background-color: #e1924a;
    color: #000; }

.fb-page.fb_iframe_widget {
  display: table;
  margin: 10px auto; }

/*# sourceMappingURL=custom.css.map */
