@import "variables";
//CustomStyle
//CustomStyle
.bg-style-four{
  &::after{
    background:#000 !important;
  }
  .header-bg{
    &::after{
      background: $main-color;
    }
    &::before{
      background: $main-color;

    }
  }
}
.contact-form{
  input{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding: 0 10px;
    &[type='submit']{
      background-color: $main-color;
      color:#000;
    }
  }
}
.fb-page.fb_iframe_widget {
  display: table;
  margin: 10px auto;
}