.contents .header .mainnav > .search-btn {
  right: auto;
  left: 0; }
.contents .header .header-right {
  float: left !important; }

.navbar.navbar-horizontal li.dropdown > .submenu-wrapper {
  right: 0;
  left: auto; }

.woocommerce div.product div.images.woocommerce-product-gallery {
  direction: ltr; }
.woocommerce div.product div.images .flex-control-thumbs {
  direction: rtl; }
.woocommerce div.product form.cart .reset_variations {
  padding: 0 20px 0 5px; }
  .woocommerce div.product form.cart .reset_variations:before {
    right: 0;
    left: auto; }
.woocommerce div.product form.cart div.quantity {
  margin: 0 0 0 10px !important; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.shipping-row th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.shipping-row td {
  text-align: right; }
.woocommerce .products .product-block .entry-header {
  text-align: right; }
.woocommerce .woocommerce-pagination .pagination li a.next i, .woocommerce .woocommerce-pagination .pagination li a.prev i {
  transform: rotate(-180deg); }
.woocommerce .woocommerce-pagination .pagination li a.next i {
  margin-right: 5px; }
.woocommerce .woocommerce-pagination .pagination li a.prev i {
  margin-left: 5px; }
.woocommerce .woocommerce-pagination .pagination li a.next {
  padding: 0 20px 0 0; }
.woocommerce .woocommerce-pagination .pagination li a.prev {
  padding: 0 0 0 20px; }

.breadcrumb-wrap .breadcrumb > li + li::before {
  content: "\f104"; }

#mini-cart .modal-content .modal-body .total .woocommerce-Price-amount {
  text-align: left; }
#mini-cart .modal-content .modal-body .cart_list li .attachment-shop_thumbnail,
#mini-cart .modal-content .modal-body .cart_list li .product_list_widget li .attachment-shop_thumbnail {
  margin-right: -120px;
  margin-left: 40px; }
#mini-cart .modal-content .modal-body .cart_list li a:not(.remove) .attachment-shop_thumbnail,
#mini-cart .modal-content .modal-body .cart_list li .product_list_widget li a:not(.remove) .attachment-shop_thumbnail {
  float: right; }
#mini-cart .modal-content .modal-body .cart_list li .quantity {
  right: auto;
  left: 60px; }
#mini-cart .modal-content .modal-body .cart_list li .product_list_widget li .quantity {
  right: auto;
  left: 60px; }
#mini-cart .modal-content .modal-body .cart_list li .remove {
  right: auto;
  left: 0;
  margin: -10px 0 0 35px; }
#mini-cart .modal-content .modal-body .cart_list li:hover .attachment-shop_thumbnail {
  margin-left: 10px;
  margin-right: 0; }
#mini-cart .modal-content .modal-body .buttons .button:first-child {
  margin-left: 10px;
  margin-right: 0; }

.wpb_wrapper .entry-footer.center-block {
  text-align: right;
  direction: rtl; }
  .wpb_wrapper .entry-footer.center-block h2 {
    font-size: 42px; }
.wpb_wrapper .product-category-block .bg-overlay {
  background: #e1924a; }
.wpb_wrapper .product-category-block:hover .bg-overlay {
  background: rgba(225, 146, 74, 0.8); }
.wpb_wrapper .zmdi.zmdi-long-arrow-right {
  transform: rotate(-180deg); }

.product-category-wrap .product-category-list > ul li a {
  padding-right: 35px;
  padding-left: 0; }

/*# sourceMappingURL=rtl.css.map */
