@import "variables";
@import "mixin";
//Header
.contents {
  .header {
    .mainnav > .search-btn {
      right: auto;
      left: 0;
    }
    .header-right {
      float: left !important;
    }
  }
}
.navbar.navbar-horizontal{
  li.dropdown > .submenu-wrapper{
    right:0;
    left:auto;
  }
}

//Woocommerce
//Products Gallery
.woocommerce {
  div.product {
    div.images.woocommerce-product-gallery {
      direction: $direction-ltr;
    }
    div.images .flex-control-thumbs{
      direction: $direction-rtl;
    }
    form.cart{
      .reset_variations{
        padding: 0 20px 0 5px;
        &:before{
          right:0;
          left: auto;
        }
      }
      div.quantity{
        margin: 0 0 0 10px !important;
      }
    }
  }
  table.shop_table.woocommerce-checkout-review-order-table tr.shipping-row th,
  table.shop_table.woocommerce-checkout-review-order-table tr.shipping-row td{
    text-align: right;
  }
  .products{
    .product-block{
      .entry-header{
        text-align: right;
      }
    }
  }
  .woocommerce-pagination{
    .pagination li a.next i,.pagination li a.prev i{
      transform: rotate(-180deg);
    }
    .pagination li a.next i{
      margin-right: 5px;
    }
    .pagination li a.prev i{
      margin-left: 5px;
    }
    .pagination li a.next{
      padding: 0 20px 0 0;
    }
    .pagination li a.prev{
      padding: 0 0 0 20px;
    }
  }
}
.breadcrumb-wrap .breadcrumb > li + li::before{
  content: "\f104";
}

#mini-cart {
  .modal-content {
    .modal-body {
      .total {
        .woocommerce-Price-amount {
          text-align: left;
        }
      }
      .cart_list li{
        .attachment-shop_thumbnail,
        .product_list_widget li .attachment-shop_thumbnail{
          margin-right: -120px;
          margin-left: 40px;
        }

        a:not(.remove) .attachment-shop_thumbnail,
        .product_list_widget li a:not(.remove) .attachment-shop_thumbnail {
          float: right ;
        }
        .quantity{
          right: auto;
          left: 60px;
        }
        .product_list_widget li .quantity{
          right: auto;
          left: 60px;
        }
        .remove{
          right: auto;
          left: 0;
          margin: -10px 0 0 35px;
        }
        &:hover{
          .attachment-shop_thumbnail{
            margin-left: 10px;
            margin-right: 0;
          }
        }

      }
      .buttons .button:first-child{
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

//Home Page
.wpb_wrapper{
  .entry-footer.center-block {
    text-align: right;
    direction: rtl;
    h2{font-size: 42px}
  }
  .product-category-block {
    .bg-overlay{
      background: $main-color;
    }
    &:hover{
      .bg-overlay{
        background: $main-color-opacity;
      }
    }
  }
  .zmdi.zmdi-long-arrow-right{
    transform: rotate(-180deg);
  }
}
.product-category-wrap .product-category-list > ul li a{
  padding-right: 35px;
  padding-left: 0;
}